<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Cat</title>
        <link rel="stylesheet" href="../static/styles.css">
    </head>
    <body>
        <ul>
            <li>Home</li>
            <li>About</li>
            <li>Login</li>
        </ul>
        <h1 id="title">Pet Adoption</h1>
      
            <table>
                <tr>
                    <th>Name</th>
                    <th>Breed</th>
                    <th>Age</th>
                    <th>Type</th>
                </tr>
              
                <tr>
                  
                    <td> {{ pet_list["Name"] }}</td>
                    <td> {{ pet_list["Breed"] }}</td>
                    <td> {{ pet_list["Age"] }}</td>
                    <td> {{ pet_list["Type"] }}</td>
                </tr>
               
        </div>
    </body>
</html>
